sites/public
hosting*cache
sites/*-guide/public

node_modules
.cache
sites/*/public
/.idea/deployment.xml
.venv
.DS_Store
.idea/
package-lock.json
/deploy/
yarn-error.log
sites/pycharm-guide/deploy
/sites/pycharm-guide/firebase-debug.log
