/*

The "card" listing used on section pages, toctree, etc.

 */

.bio-card-listing {
  //min-height: 40rem; // To prevent flashing

}

nav .bio-card-author.level-item span.bio-card-author-label {
  padding-left: 0.2rem;
}

.bio-card-author {
  figure {
    // Sphinx sticks a "content" class in a parent, triggering
    // a Bulma margin everywhere
    //margin: 0;

    margin-bottom: 0 !important;
    margin-left: 0;
    margin-right: 0.2em;
  }
}

.bio-resourcecards {
  margin-bottom: 2rem;
}
