@import "../../../node_modules/bulma/sass/utilities/derived-variables";
@import "../../../node_modules/bulma/sass/utilities/initial-variables";

.bd-content.content {
  // Bulma only puts margin top on h1-h3 when it is the first child.
  // In Sphinx content it looks pretty bad.

  h1, h2, h3 {
    margin-top: 1em;
  }
  //h2 {
  //  margin-top: 1.75em;
  //}
  //h3 {
  //  margin-top: 1.5em;
  //}

  h1:first-child {
    // Sphinx inserts the page title in a way that we'd like to control,
    // so let's hide it. This is tricky to get just the one we want.
    display: none;
  }

  .highlight {
    background-color: $pre-background;
  }

  .highlight, .literal-block-wrapper.container {
    // Put some bottom margin on Pygments
    margin-bottom: 1rem;

    // Sphinx generates docutils containers, same name as Bulma, sigh.
    width: auto;

    // Style the caption
    .code-block-caption {
      margin-bottom: 0.25rem;
      text-align: end;
      .caption-text {
        font-size: $size-7;
      }
    }
  }

  // Make Sphinx "note, warning" etc. styled per Bulma
  .admonition {
    margin-top: 1rem;

    @extend .notification;
    &.note {
      @extend .notification.is-info;
    }

    &.warning {
      @extend .notification.is-warning;
    }

    .admonition-title {
      @extend .is-size-3 !optional;
    }
  }

}

.image {
  &.is-rounded {
    img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      width: 100%;
      border-radius: 250983px;
    }
  }
}

.bio-author {
  span {
    padding: 0 0.3rem;
  }
}

// Sphinx header links

a.headerlink {
  visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
  visibility: visible;
}
